* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C0D5B2;
    font-family: 'Anuphan', sans-serif;
    text-transform: sentencecase;
    margin-bottom: 20px;
}

.section-title {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    color: #000000;
    margin-bottom: 10px;
    font-size: 54px;
    line-height: 1;
    letter-spacing: -0.05em;
}

h2 {
    text-align: center;
}

.header {
    background-color: #FFFFFF;
    padding: 20px 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav img {
    width: 150px;
    margin-right: 20px;
}

.nav-links {
    margin-left: auto;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    margin-right: 10px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 300;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.content {
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 20px;
    padding: 5%;
}

.menu-button {
    margin-top: 40px;
    text-align: center;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #366B4C;
    background-color: #366B4C;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-button p {
    margin: 0;
    color: white;
    font-size: 16px;
    padding: 5px;
}

.menu-button:hover {
    background-color: #458966; /* Lighter color when hovering */
    border-color: #458966; /* Adjust border color accordingly */
}

img {
    margin-left: auto;
    flex-basis: 50%;
    max-width: 600px;
    height: auto;
}

h1, .menu-button, img {
    display: block;
    margin: 0 auto;
}

.landing_page_bowl {
    width: 500px;
    max-width: 100%;
    height: auto;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tablinks {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tablinks:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding-top: 20px;
    margin-bottom: 20px;
}

/* Use CSS Grid for the buttons */
.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}


.dish-btn {
    display: block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.dish-btn:hover {
    background-color: #45a049;
}

.dish-out-of-stock {
    background-color: #ccc; /* Grey background */
    color: #888; /* Grey text color */
    cursor: not-allowed; /* Show cursor as not allowed */
    /* Add any other styles you want to apply for out-of-stock items */
}



#table-selection {
    margin-top: 20px; /* Add margin at the top */
    margin-bottom: 20px; /* Add margin at the bottom */
}

#buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#buttons-container button {
    margin: 0 10px; /* Add horizontal gap between the buttons */
}


#back-to-home-container {
    text-align: center;
    margin-top: 20px;
}

#back-to-home-container a {
    color: #366B4C;
    text-decoration: none;
    display: inline-block; /* Display as inline-block to surround the text */
    background-color: white;
    font-weight: bold; /* Bold text for active button */
    border-radius: 10px; /* Add curved corners */
    padding: 5px 10px;
    border: 1px solid #366B4C;
}

#table-display {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#table-content {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
#table-content th, #table-content td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
#table-content th {
    background-color: #f2f2f2;
    position: sticky;
    top: -1px;
}


#table-content tr:hover {
    background-color: #e6e6e6;
}
a {
    display: block;
    text-align: center;
    margin-top: 20px;
}


.container {
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-wrapper {
    margin: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="date"],
select,
input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Additional styles for select element */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 20px 20px;
}

/* Add this to your 'style.css' file */

/* Style for the modal backdrop */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black backdrop */
}

/* Style for the modal container */
.modal-dialog {
    margin-top: 20vh; /* Adjust the modal's vertical position */
}

/* Style for the modal content */
.modal-content {
    border-radius: 10px; /* Rounded corners for the modal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow for the modal */
}

/* Style for the modal header */
.modal-header {
    border-bottom: none; /* Remove the border at the bottom of the header */
}

/* Style for the modal title */
.modal-title {
    font-weight: bold;
}

/* Style for the modal body */
.modal-body {
    padding: 20px; /* Add some padding to the modal body */
}

/* Style for the modal footer */
.modal-footer {
    border-top: none; /* Remove the border at the top of the footer */
}

/* Style for the 'Submit' button in the modal footer */
#submit-button {
    color: #fff; /* Text color */
    background-color: #007bff; /* Primary color for the 'Submit' button */
    border: none;
}

/* Style for the 'Cancel' button in the modal footer */
.btn-secondary {
    color: #333; /* Text color */
    background-color: #e9ecef; /* Light gray background color for the 'Cancel' button */
    border: none;
}


/* Apply styles to the table-selection container */
#table-selection {
    margin-top: 20px;
    text-align: center; /* Center the content */
}

/* Style the label for the table dropdown */
#table-selection label {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

/* Style the table dropdown */
#table-dropdown {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
    outline: none; /* Remove the default focus outline */
    background-color: #fff; /* White background */
}

/* Style the table dropdown options */
#table-dropdown option {
    padding: 8px;
    font-size: 16px;
}

/* Style the disabled option in the dropdown */
#table-dropdown option:disabled {
    color: #888;
}

/* Style the selected option in the dropdown */
#table-dropdown option:checked {
    background-color: #007bff;
    color: #fff;
}

#table-content tr#total-row {
    border-top: 4px double #000;
    border-bottom: 4px double #000;
}

/* Apply styles to the split-payment container */
#split-payment {
    margin-top: 20px;
    text-align: center; /* Center the content */
}

/* Style the label for the split-method dropdown */
#split-payment label {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

/* Style the split-method dropdown */
#split-method {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 250px;
    outline: none; /* Remove the default focus outline */
    background-color: #fff; /* White background */
}

/* Style the split-method dropdown options */
#split-method option {
    padding: 8px;
    font-size: 16px;
}

/* Style the disabled option in the split-method dropdown */
#split-method option:disabled {
    color: #888;
}

/* Style the selected option in the split-method dropdown */
#split-method option:checked {
    background-color: #007bff;
    color: #fff;
}

/* Apply styles to the split-inputs container */
#split-inputs {
    margin-top: 20px;
    text-align: center; /* Center the content */
}

/* Style the label for the item-dropdown */
#by-items label {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

/* Style the item-dropdown */
#item-dropdown {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 250px;
    outline: none; /* Remove the default focus outline */
    background-color: #fff; /* White background */
}

/* Style the item-dropdown options */
#item-dropdown option {
    padding: 8px;
    font-size: 16px;
}

/* Style the disabled option in the item-dropdown */
#item-dropdown option:disabled {
    color: #888;
}

/* Style the selected option in the item-dropdown */
#item-dropdown option:checked {
    background-color: #007bff;
    color: #fff;
}

/* Apply styles to the other split inputs */
#by-customers, #custom-amount {
    margin-top: 20px;
}


/* Define the new class for the large menu button */
.large-menu-button {
    display: inline-block;
    padding: 16px 24px; /* Adjust padding as needed */
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-size: 20px; /* Adjust font size as needed */
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Apply hover effect to the large menu button */
.large-menu-button:hover {
    background-color: #0056b3;
}

#table-container {
    max-height: 300px; 
    overflow: auto;
    position: relative;
    background-color: #fff; /* White background */
    width: 80%;
    margin: 0 auto;
}

.rating-stars {
    font-size: 30px;
}
.star {
    cursor: pointer;
}
.selected {
    color: gold;
}

.pay-button-container {
    margin-top: 20px; /* Add space above the button */
    text-align: center;
}

.button.active {
    background-color: #C0D5B2; /* Light green background for active button */
    font-weight: bold; /* Bold text for active button */
    border-radius: 10px; /* Add curved corners */
    padding: 5px 10px;
}

.confirmation-container {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
}

.confirmation-container h1 {
    color: #366B4C;
    font-size: 28px;
    margin-bottom: 10px;
}

.confirmation-details {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 400px;
}

.confirmation-details h2 {
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
}

.confirmation-details p {
    margin-bottom: 10px; /* Add spacing between paragraphs */
    font-size: 18px; /* Increase font size */
}

.confirmation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.confirmation-table th, .confirmation-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.back-to-home-container {
    text-align: center;
    margin-top: 20px;
}

.back-to-home-container a {
    color: #366B4C;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.back-to-home-container a:hover {
    background-color: #366B4C;
    color: white;
}


.button:hover {
    background-color: #458966; /* Change background color when hovered */
    color: white; /* Change text color when hovered */
}


/* Style for the search bar container */
.search-bar {
    text-align: center;
    margin: 20px 0;
}

/* Style for the search label */
.search-bar label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style for the search input */
#ingredient-search {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%; /* Adjust the width as needed */
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    text-align: center;
    margin: 0 auto; /* Center the search bar */
}


/* ... (other styles) ... */

.sort-button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sort-by-expiry {
    color: #366B4C;
    text-decoration: none;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #366B4C;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#sort-by-expiry:hover {
    background-color: #366B4C;
    color: white;
}

#restock-button {
    color: #366B4C;
    text-decoration: none;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #366B4C;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#restock-button:hover {
    background-color: #366B4C;
    color: white;
}

.low-stock {
    background-color: #ffcccc; /* Light red background */
    color: white; /* White text color */
}


.warning-message {
    display: none; /* Hide by default */
    background-color: #ffcccc; /* Light red background */
    border: 1px solid #ff9999; /* Darker red border */
    padding: 10px;
    margin-bottom: 10px;
}





