<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="static/images/favicon.ico">
  </head>
  <body>
    <section class="header">
        <nav>
            <a href="/"><img src="static/images/logo.png" alt="Restaurant Logo"></a>
            <div class="nav-links">
                <ul>
                    {% if accessible_pages.new_order %}
                    <li><a href="/new-order" class="button  {% if current_page == 'new-order' %}active{% endif %}">New order</a></li>
                    {% endif %}
                    {% if accessible_pages.view_orders %}
                    <li><a href="/view-orders" class="button  {% if current_page == 'view-orders' %}active{% endif %}">View Orders</a></li>
                    {% endif %}
                    {% if accessible_pages.view_stock %}
                    <li><a href="/view-stock" class="button  {% if current_page == 'view-stock' %}active{% endif %}">View Stock</a></li>
                    {% endif %}
                    {% if accessible_pages.payment %}
                    <li><a href="/payment" class="button  {% if current_page == 'payment' %}active{% endif %}">Payment</a></li>
                    {% endif %}
                    {% if accessible_pages.table_assignment %}
                    <li><a href="/table-assignment" class="button  {% if current_page == 'table-assignment' %}active{% endif %}">Table Assignment</a></li>
                    {% endif %}
                    {% if accessible_pages.feedback %}
                    <li><a href="/feedback" class="button  {% if current_page == 'feedback' %}active{% endif %}">Feedback</a></li>
                    {% endif %}
                    {% if accessible_pages.sign_out %}
                    <li><a href="/log-out" class="button">Sign out</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </section>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
