{% extends 'base.html' %}
    
{% block title %}Fresko{% endblock %}

{% block content %}
  <div class="center">
    <div class="content">
      <h1 class="section-title">POS Software</h1>
      <!-- {% if user_role == 'Signed out' %}
      <a href="/login">
        <div class="menu-button">
          <p>Login</p>
        </div>
      </a>
      {% endif %} -->
    </div>
    <img src="static/images/landing_page_bowl.png" alt="Landing Page Image" class="landing_page_bowl">
  </div>
{% endblock %}
