{% extends 'base.html' %}
    
{% block title %}Fresko{% endblock %}

{% block content %}
    <h1>Add a new order</h1>
    <div class="menu-tabs">
        <button class="tablinks active" onclick="openTab(event, 'dip')">Dip</button>
        <button class="tablinks" onclick="openTab(event, 'salad')">Salad</button>
        <button class="tablinks" onclick="openTab(event, 'add-on')">Add-ons</button>
        <button class="tablinks" onclick="openTab(event, 'main')">Main Courses</button>
        <button class="tablinks" onclick="openTab(event, 'cold-meze')">Cold Meze</button>
        <button class="tablinks" onclick="openTab(event, 'hot-meze')">Hot Meze</button>
        <button class="tablinks" onclick="openTab(event, 'drink')">Drinks</button>
    </div>

    <div class="center">
        <div id="dip" class="tabcontent">
            <div class="grid-container">
                {% for item in menu_data.dip %}
                    <button class="dish-btn" onclick="addToOrder('{{ item[0] }}', '{{ item[1] }}', '{{ item[2] }}')">{{ item[1] }}</button>
                {% endfor %}
            </div>
        </div>

        <div id="salad" class="tabcontent">
            <div class="grid-container">
                {% for item in menu_data.salad %}
                    <button class="dish-btn" onclick="addToOrder('{{ item[0] }}', '{{ item[1] }}', '{{ item[2] }}')">{{ item[1] }}</button>
                {% endfor %}
            </div>
        </div>

        <div id="add-on" class="tabcontent">
            <div class="grid-container">
                {% for item in menu_data.add_on %}
                    <button class="dish-btn" onclick="addToOrder('{{ item[0] }}', '{{ item[1] }}', '{{ item[2] }}')">{{ item[1] }}</button>
                {% endfor %}
            </div>
        </div>

        <div id="main" class="tabcontent">
            <div class="grid-container">
                {% for item in menu_data.main %}
                    <button class="dish-btn" onclick="addToOrder('{{ item[0] }}', '{{ item[1] }}', '{{ item[2] }}')">{{ item[1] }}</button>
                {% endfor %}
            </div>
        </div>

        <div id="cold-meze" class="tabcontent">
            <div class="grid-container">
                {% for item in menu_data.cold_meze %}
                    <button class="dish-btn" onclick="addToOrder('{{ item[0] }}', '{{ item[1] }}', '{{ item[2] }}')">{{ item[1] }}</button>
                {% endfor %}
            </div>
        </div>

        <div id="hot-meze" class="tabcontent">
            <div class="grid-container">
                {% for item in menu_data.hot_meze %}
                    <button class="dish-btn" onclick="addToOrder('{{ item[0] }}', '{{ item[1] }}', '{{ item[2] }}')">{{ item[1] }}</button>
                {% endfor %}
            </div>
        </div>

        <div id="drink" class="tabcontent">
            <div class="grid-container">
                {% for item in menu_data.drink %}
                    <button class="dish-btn" onclick="addToOrder('{{ item[0] }}', '{{ item[1] }}', '{{ item[2] }}')">{{ item[1] }}</button>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="comment-input-container">
        <input type="text" id="globalCommentInput" placeholder="Add a comment">
        <div>
            <button class="menu-button" onclick="updateGlobalComment()">Apply Comment</button>
        </div>
    </div>

    <div id="table-selection">
        <label for="table-dropdown">Select a table number:</label>
        <select id="table-dropdown" onchange="updateSelectedTable()">
            <option value="" selected disabled>Select a table...</option>
            {% for table_number in table_numbers %}
            <option value="{{ table_number }}">{{ table_number }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="table-container">
        <h2>Current Order:</h2>
        <table id="table-content">
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Comment</th>
                <th>Price</th>
            </tr>
        </table>
    </div>

    <div id="buttons-container">
        <button class="menu-button" id="confirm-order-btn" onclick="confirmOrder()">Confirm Order</button>
        <button class="menu-button" id="clear-order-btn" onclick="clearOrder()">Clear Order</button>
    </div>

    <div id="back-to-home-container">
        <a href="/home">Back to Home</a>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            openTab(event, 'starter');
        });

        var current_order = [];
        var selectedTable = null;
        var globalComment = "";

        function updateSelectedTable(){
            var dropdown = document.getElementById("table-dropdown");
            selectedTable = dropdown.value;
        }

        function clearOrder() {
            current_order = [];
            updateOrderTable();
        }

        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function addToOrder(itemId, itemName, itemPrice) {
            current_order.push({ id: itemId, name: itemName, price: itemPrice, comment: globalComment });
            globalComment = ""; // Reset the global comment
            updateOrderTable();
        }

        function updateGlobalComment() {
            var commentInput = document.getElementById("globalCommentInput");
            globalComment = commentInput.value;
        }

        function updateOrderTable() {
            var table = document.getElementById("table-content");
            // Clear existing rows except the header
            while (table.rows.length > 1) {
                table.deleteRow(1);
            }
            // Add items from current_order to the table
            for (var i = 0; i < current_order.length; i++) {
                var row = table.insertRow(-1);
                var idCell = row.insertCell(0);
                var nameCell = row.insertCell(1);
                var commentCell = row.insertCell(2)
                var priceCell = row.insertCell(3);
                nameCell.innerHTML = current_order[i].name;
                idCell.innerHTML = current_order[i].id;
                commentCell.innerHTML = current_order[i].comment;
                priceCell.innerHTML = current_order[i].price;
            }
        }

        function confirmOrder() {
            if (selectedTable === null || selectedTable === "") {
                alert("Please select a valid table number.");
                return; // Exit the function if no table number is selected
            }

            var itemData = current_order.map(item => {
                return { id: item.id, comment: item.comment || "" };
            });

            // Include the selected table number in the request data
            var requestData = {
                "items": itemData,
                "tableNumber": selectedTable
            };

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/confirm_order', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    clearOrder();
                }
            };
            xhr.send(JSON.stringify(requestData));
    }
    </script>
{% endblock %}
