{% extends 'base.html' %}

{% block title %}Fresko{% endblock %}

{% block content %}
    <div class="confirmation-container">
        <h1>Table Confirmation</h1>
        <div class="confirmation-details">
            <h2>Booking:</h2>
            <p><strong>Date:</strong> {{ confirmation_details.date }}</p>
            <p><strong>Time:</strong> {{ confirmation_details.time }}</p>
            <p><strong>Party size:</strong> {{ confirmation_details.party_size }}</p>
            <p><strong>Additional comments:</strong> {{ confirmation_details.comment }}</p>
            <p><strong>Assigned table(s):</strong> {{ confirmation_details.assigned_tables }}</p>
        </div>

        <div class="back-to-home-container">
            <a href="/home">Back to Home</a>
        </div>
    </div>
{% endblock %}
