<!DOCTYPE html>
<html>
<head>
    <title>Cookie Notice</title>
    <style>
        body {background-color: darkseagreen;}
        h1 {font: 100px Arial, sans-serif;}
        h2 {font: 60px Arial, sans-serif;
        color: white;}
        h3 {font: 50px Arial, sans-serif;}
        h4 {font: 40px Arial, sans-serif;}
        p {font: 20px Arial, sans-serif;}
    </style>
</head>
<body>
    <h3>Cookie Notice</h3>
    <p>
        We use cookies on our website to enhance your browsing experience and provide personalized services. 
        By continuing to use our site, you consent to the use of cookies. 
        This helps us analyze website traffic, personalize content, and serve targeted advertisements. 
        To learn more about how we use cookies and your options to manage them, please review our Cookie Policy. 
        If you have any questions or concerns regarding our use of cookies, please contact us at <b>customerservice@fresko.com</b>.
    </p>
    <p>
        <b>Cookie Policy:</b>
    </p>
    <p>
        At Fresko, we value your privacy and strive to ensure the protection of your personal information. 
        This Cookie Policy explains how we use cookies and similar technologies on our website. 
        By using our site, you consent to the use of cookies as described in this policy.
    </p>
    <p>
        <b>What are Coookies?</b>
    </p>
    <p>
        At Fresko, we value your privacy and strive to ensure the protection of your personal information. 
        This Cookie Policy explains how we use cookies and similar technologies on our website. 
        By using our site, you consent to the use of cookies as described in this policy.
    </p>
    <p>
        <b>Types of Cookies We Use:</b>
    </p>
    <ul>
        <li>
            Strictly Necessary Cookies: These cookies are essential for the operation of our website and enable you to navigate the site and use its features.
        </li>
        <li>
            Analytical/Performance Cookies: These cookies collect anonymous information about how visitors use our website, such as the number of visitors, the pages visited, and the source of the traffic. 
            This data helps us improve the performance and functionality of our site.
        </li>
        <li>
            Functional Cookies: These cookies allow the website to remember choices you make and provide enhanced features and personalization.
        </li>
    </ul>
    <p>
        <b>Managing Cookies:</b>
    </p>
    <p>You can manage or disable cookies by adjusting your browser settings. 
       Please note that disabling certain cookies may impact the functionality and performance of our website.
    </p>
    <p>
        <b>Contact Us:</b>
    </p>
    <p>If you have any questions or concerns regarding our use of cookies or our privacy practices, please contact us at <b>customerservice@fresko.com</b>. 
        We are here to assist you and address any queries you may have.</p>
    <p>By using our website, you agree to the use of cookies as outlined in this Cookie Policy. 
        We may update this policy from time to time, so please review it periodically for any changes.</p>
</body>
</html>
