{% extends 'base.html' %}
    
{% block title %}Fresko | Cookie Notice{% endblock %}

{% block content %}

<br><br><br><br>
<div class="center">
    <div class="tzatziki-container">
        <img src="/static/images/tzatziki_cookie_notice.png" alt="Tzatziki" class="tzatziki-image">
    </div>

<div class="content-container" style="margin-top: -120px;">
    <h1 class="section-title" align="center">COOKIE NOTICE</h1>

<div class="center" style="margin-top: -50px;">
    <div class="content">
        <p align="left">
            We use cookies on our website to enhance your browsing experience and provide personalised services. 
            By continuing to use our site, you consent to the use of cookies. 
            This helps us analyze website traffic, personalise content, and serve targeted advertisements. 
            To learn more about how we use cookies and your options to manage them, please review our Cookie Policy below. 
            If you have any questions or concerns regarding our use of cookies, please contact us at <b>customerservice@fresko.com</b>.
        </p>
        <br>
        
        <p align="left">
            <b>Cookie Policy:</b>
        </p>
        <br>
        <p align="left">
            At Fresko, we value your privacy and strive to ensure the protection of your personal information. 
            This Cookie Policy explains how we use cookies and similar technologies on our website. 
            By using our site, you consent to the use of cookies as described in this policy.
        </p>
        
        <br>
        <p align="left">
            <b>Types of Cookies We Use:</b>
        </p>
        <br>
        <ul align="left">
            <li>
                <b>Strictly Necessary Cookies:</b> These cookies are essential for the operation of our website and enable you to navigate the site and use its features.
            </li>
            <br>
            <li>
                <b>Analytical/Performance Cookies:</b> These cookies collect anonymous information about how visitors use our website, such as the number of visitors, the pages visited, and the source of the traffic. 
                This data helps us improve the performance and functionality of our site.
            </li>
            <br>
            <li>
                <b>Functional Cookies:</b> These cookies allow the website to remember choices you make and provide enhanced features and personalisation.
            </li>
        </ul>
        <br>
        <p align="left">
            <b>Managing Cookies:</b>
        </p>
        <br>
        <p align="left">
        You can manage or disable cookies by adjusting your browser settings. 
           Please note that disabling certain cookies may impact the functionality and performance of our website.
        </p>
        <br>
        <p align="left">
            <b>Contact Us:</b>
        </p>
        <br>
        <p align="left">
        If you have any questions or concerns regarding our use of cookies or our privacy practices, please contact us at <b>customerservice@fresko.com</b>. 
            We are here to assist you and address any queries you may have.
        </p>
        <br>
        <p align="left">By using our website, you agree to the use of cookies as outlined in this Cookie Policy. 
            We may update this policy from time to time, so please review it periodically for any changes.
        </p>
        <br><br><br>
    </div>
</div>
</div>
</div>

<img src="/static/images/kebab_skewers.png" alt="Kebab Skewers" style="float: right; margin: -500px 0 0 0; width: 300px;">

{% endblock %}
