<!DOCTYPE html>
<html>
<head>
    <title>Fresko</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="static/images/logo.png" alt="Restaurant Logo"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="index.html" class="button">Home</a></li>
                    <li><a href="menu.html" class="button">Menu</a></li>
                    <li><a href="nutrition.html" class="button">Nutrition</a></li>
                    <li><a href="delivery.html" class="button">Delivery</a></li>
                    <li><a href="reservation.html" class="button">Reservation</a></li>
                    <li><a href="testimonials.html" class="button">Testimonials</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <h1 class="section-title">A LITTLE GREEK FOR EVERYONE</h1>
    <a href="menu.html">
        <div class="menu-button">
            <p>View Menu</p>
        </div>
    </a>
</body>
</html>
