{% extends 'base.html' %}
    
{% block title %}Fresko | Lunch{% endblock %}

{% block content %}

<div class="center">
  <div class="caesar_salad-container">
      <img src="/static/images/caesar_salad.png" alt="Caesar Salad" class="caesar_salad-image">
  </div>
</div>

<div class="content" style="margin-top: -100px;">
  <h1 class="section-title">LUNCH</h1>
  <h4>V = Vegetarian | Ve = Vegan | GF = Gluten-free | GFO = Gluten-free option</h4>
  <div class="menu-grid_2">
    <div class="curved-box_2">
      <h2 class="section-title" style="color: white; width: 400px; font-size: 24px">GYROS</h2>
      <p class="food-description" style="text-align: left;">Rotisserie-roasted meat, halloumi or falafel, served in a pita (GFO) with oregano chips, lettuce, tomato, cucumber, red onion, olives, and your choice of tzatziki (V) or tahini sauce (Ve)</p><br><br>
      <table class="menu-table" style="width: 400px;">
          <tr>
              <td class="food-name">
                  <strong>Chicken (GF)</strong>
              </td>
              <td class="food-price">£9.00</td>
          </tr>
          <tr>
              <td class="food-name">
                  <strong>Pork (GF)</strong>
              </td>
              <td class="food-price">£9.00</td>
          </tr>
          <tr>
              <td class="food-name">
                  <strong>Lamb (GF)</strong>
              </td>
              <td class="food-price">£9.00</td>
          </tr>
          <tr>
              <td class="food-name">
                  <strong>Halloumi (V) (GF)</strong>
              </td>
              <td class="food-price">£9.50</td>
          </tr>
          <tr>
              <td class="food-name">
                  <strong>Falafel (Ve) (GF)</strong>
              </td>
              <td class="food-price">£9.50</td>
          </tr>
      </table>
  </div>
  
  <div class="curved-box_2">
    <h2 class="section-title" style="color: white; width: 400px; font-size: 24px">SOUVLAKI</h2>
    <p class="food-description style="text-align: left;">Grilled skewers, served in a pita (GFO) with oregano chips, lettuce, tomato, cucumber, red onion, olives, and your choice of tzatziki (V) or tahini sauce (Ve)</p><br><br>
    <table class="menu-table" style="width: 400px;">
        <tr>
            <td class="food-name">
                <strong>Chicken (GF)</strong>
            </td>
            <td class="food-price">£12.00</td>
        </tr>
        <tr>
            <td class="food-name">
                <strong>Pork (GF)</strong>
            </td>
            <td class="food-price">£12.00</td>
        </tr>
        <tr>
            <td class="food-name">
                <strong>Lamb (GF)</strong>
            </td>
            <td class="food-price">£12.50</td>
        </tr>
    </table>
  </div>

  <div class="curved-box_2">
    <h2 class="section-title" style="color: white; width: 400px; font-size: 24px">SALAD BOWLS</h2>
    <p class="food-description style="text-align: left;">All salads come with a choice of tzatziki, or tahini sauce, or mint yoghurt dressing</p><br><br>
    <table class="menu-table" style="width: 400px;">
        <tr>
            <td class="food-name">
                <strong>The Chicken Fresko (GF)</strong>
            </td>
            <td class="food-price">£12.00</td>
        </tr>
        <tr>
          <td class="food-description">
              Mixed lettuce, tomato, cucumber, peppers, red onion, olives, and crumbled feta served with a skewer of grilled chicken
          </td>
        </tr>
        <tr>
            <td class="food-name">
                <strong>The Lamb Fresko (GF)</strong>
            </td>
            <td class="food-price">£12.00</td>
        </tr>
        <tr>
          <td class="food-description">
              Mixed lettuce, tomato, cucumber, peppers, red onion, olives, and crumbled feta served with a skewer of grilled lamb
          </td>
        </tr>
        <tr>
          <td class="food-name">
              <strong>The Greek (V) (GFO)</strong>
          </td>
          <td class="food-price">£10.50</td>
        </tr>
        <tr>
          <td class="food-description">
            Farro grains, mixed lettuce, tomato, cucumber, red onion, olives, and chickpeas, served with grilled halloumi
          </td>
        </tr>
        <tr>
          <td class="food-name">
              <strong>The Medi (Ve) (GF)</strong>
          </td>
          <td class="food-price">£9.00</td>
        </tr>
        <tr>
          <td class="food-description">
            Mixed lettuce, tomato, cucumber, peppers, shredded carrot, red onion, and chickpeas, served with our homemade falafel (2pcs)
          </td>
        </tr>
    </table>
  </div>

  <div class="curved-box_2">
    <h2 class="section-title" style="color: white; width: 400px; font-size: 24px">EXTRAS</h2>
    <table class="menu-table" style="width: 400px;">                
        <tr>
            <td class="food-name">
                <strong>Hummus (Ve) (GF)</strong>
            </td>
            <td class="food-price">£1.00</td>
        </tr>
        <tr>
          <td class="food-name">
              <strong>Tzatziki (V) (GF)</strong>
          </td>
          <td class="food-price">£1.00</td>
        </tr>
        <tr>
          <td class="food-name">
              <strong>Tahini Sauce (Ve) (GF)</strong>
          </td>
          <td class="food-price">£1.00</td>
        </tr>
        <tr>
          <td class="food-name">
              <strong>Mint Yoghurt Sauce (V) (GF)</strong>
          </td>
          <td class="food-price">£1.00</td>
        </tr>
        <tr>
          <td class="food-name">
              <strong>Falafel, 1pc (Ve) (GF)</strong>
          </td>
          <td class="food-price">£1.50</td>
        </tr>
        <tr>
          <td class="food-name">
              <strong>Halloumi, 1pc (V) (GF)</strong>
          </td>
          <td class="food-price">£1.50</td>
        </tr>
        <tr>
          <td class="food-name">
              <strong>Crumbled Feta (V) (GF)</strong>
          </td>
          <td class="food-price">£1.50</td>
        </tr>
        <tr>
          <td class="food-name">
              <strong>Pita (Ve) (GFO)</strong>
          </td>
          <td class="food-price">£2.00</td>
        </tr>
        <tr>
          <td class="food-name">
              <strong>Oregano Chips (Ve) (GF)</strong>
          </td>
          <td class="food-price">£2.00</td>
        </tr>
        <tr>
          <td class="food-name">
              <strong>Extra Skewer (GF)</strong>
          </td>
          <td class="food-price">£3.00</td>
        </tr>
    </table>
  </div>

  <div class="curved-box_2">
    <h2 class="section-title" style="color: white; width: 400px; font-size: 24px">DRINKS</h2>
    <table class="menu-table" style="width: 400px;">                
        <tr>
            <td class="food-name">
                <strong>Green Soda (Ve) (GF)</strong>
            </td>
            <td class="food-price">£2.00</td>
        </tr>
        <tr>
            <td class="food-description">
              Choose from: Cola, Lemonade, Orangeade, or Sour Cherry
            </td>
        </tr>
        <tr>
            <td class="food-name">
                <strong>Water</strong>
            </td>
            <td class="food-price">£1.50</td>
        </tr>
    </table>
  </div>
  <p style="margin-left: 120px;">If in doubt, please inquire at <br><b>customerservice@fresko.com</b><br> We're here to help!</p>
</div>

<a href="/menu">
  <div class="menu-button" style="background-color: black; text-decoration: white;">
    <p>Back to Menu</p>
  </div>
</a>

<div class="center">
  <div class="sliced_onion-container">
      <img src="/static/images/sliced_onion.png" alt="Sliced Onion" class="sliced_onion-image">
  </div>
</div>

{% endblock %}
