{% extends 'base.html' %}
    
{% block title %}Fresko | Lunch Menu{% endblock %}

{% block content %}
    <div class="lunch">
        <h1 class="section-title">lunch</h1>
        <h3>V = Vegetarian | Ve = Vegan | GF = Gluten-free | GFO = Gluten-free option</h3>
        <div class="lunch-container">
            <div class="lunch-item">
                <div class="lunch-box">
                    <h1 class="section-title" style="color: white;">GYROS</h1>
                    <p>
                        Rotisserie-roasted meat, halloumi or falafel, served in a pita (GFO) with oregano chips, lettuce, tomato, cucumber, red onion, olives, and your choice of tzatziki (V) or tahini sauce (Ve)
                    </p>
                    <br>
                    <div class="container">
                        <div class="left-column">
                          <ul>
                            <li>Chicken (GF)</li>
                            <li>Pork (GF)</li>
                            <li>Lamb (GF)</li>
                            <li>Halloumi (V) (GF)</li>
                            <li>Falafel (Ve) (GF)</li>
                          </ul>
                        </div>
                        <div class="right-column">
                          <ul>
                            <li>£ 9.00</li>
                            <li>£ 9.00</li>
                            <li>£ 9.00</li>
                            <li>£ 9.50</li>
                            <li>£ 9.50</li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lunch-item">
                <div class="lunch-box">
                    <h1 class="section-title" style="color: white;">SALAD BOWLS</h1>
                    <p>
                        All salads come with a choice of tzatziki, or tahini sauce, or mint yoghurt dressing
                    </p>
                    <br>
                    <div class="container">
                        <div class="left-column">
                          <ul>
                            <li><b>The Chicken Fresko (GF)</b></li>
                          </ul>
                        </div>
                        <div class="right-column">
                          <ul>
                            <li>£ 12.00</li>
                          </ul>
                        </div>
                    </div>
                    <p><i>Mixed lettuce, tomato, cucumber, peppers, red onion, olives, and crumbled feta served with a skewer of grilled chicken</i></p>
                    <br>
                    <div class="container">
                        <div class="left-column">
                          <ul>
                            <li><b>The Lamb Fresko (GF)</b></li>
                          </ul>
                        </div>
                        <div class="right-column">
                          <ul>
                            <li>£ 12.50</li>
                          </ul>
                        </div>
                    </div>
                    <p><i>Mixed lettuce, tomato, cucumber, peppers, red onion, olives, and crumbled feta served with a skewer of grilled lamb</i></p>
                    <br>
                    <div class="container">
                        <div class="left-column">
                          <ul>
                            <li><b>The Greek (V) (GFO)</b></li>
                          </ul>
                        </div>
                        <div class="right-column">
                          <ul>
                            <li>£ 10.50</li>
                          </ul>
                        </div>
                    </div>
                    <p><i>Farro grains, mixed lettuce, tomato, cucumber, red onion, olives, and chickpeas, served with grilled halloumi</i></p>
                    <br>
                    <div class="container">
                        <div class="left-column">
                          <ul>
                            <li><b>The Medi (Ve) (GF)</b></li>
                          </ul>
                        </div>
                        <div class="right-column">
                          <ul>
                            <li>£ 9.00</li>
                          </ul>
                        </div>
                    </div>
                    <p><i>Mixed lettuce, tomato, cucumber, peppers, shredded carrot, red onion, and chickpeas, served with our homemade falafel (2pcs)</i></p> 
                </div>
            </div>
            <div class="lunch-item">
                <div class="lunch-box">
                    <h1 class="section-title" style="color: white;">SOUVLAKI</h1>
                    <p>
                        Grilled skewers, served in a pita (GFO) with oregano chips, lettuce, tomato, cucumber, red onion, olives, and your choice of tzatziki (V) or tahini sauce (Ve)
                    </p>
                    <br>
                    <div class="container">
                        <div class="left-column">
                          <ul>
                            <li>Chicken (GF)</li>
                            <li>Pork (GF)</li>
                            <li>Lamb (GF)</li>
                          </ul>
                        </div>
                        <div class="right-column">
                          <ul>
                            <li>£ 12.00</li>
                            <li>£ 12.00</li>
                            <li>£ 12.50</li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lunch-item">
                <div class="lunch-box">
                    <h1 class="section-title" style="color: white;">EXTRAS</h1>
                    <div class="container">
                        <div class="left-column">
                          <ul>
                            <li>Hummus (Ve) (GF)</li>
                            <li>Tzatziki (V) (GF)</li>
                            <li>Tahini Sauce (Ve) (GF)</li>
                            <li>Mint Yoghurt Sauce (V) (GF)</li>
                            <li>Falafel, 1pc (Ve) (GF)</li>
                            <li>Halloumi, 1pc (V) (GF)</li>
                            <li>Crumbed Feta (V) (GF)</li>
                            <li>Pita (Ve) (GFO)</li>
                            <li>Oregano Chips (Ve) (GF)</li>
                            <li>Extra Skewer (GF)</li>
                          </ul>
                        </div>
                        <div class="right-column">
                          <ul>
                            <li>£ 1.00</li>
                            <li>£ 1.00</li>
                            <li>£ 1.00</li>
                            <li>£ 1.00</li>
                            <li>£ 1.50</li>
                            <li>£ 1.50</li>
                            <li>£ 1.50</li>
                            <li>£ 2.00</li>
                            <li>£ 2.00</li>
                            <li>£ 3.00</li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lunch-item">
                <div class="lunch-box">
                    <h1 class="section-title" style="color: white;">DRINKS</h1>
                    <div class="container">
                        <div class="left-column">
                          <ul>
                            <li><b>Green Soda (Ve) (GF)</b></li>
                          </ul>
                        </div>
                        <div class="right-column">
                          <ul>
                            <li>£ 2.00</li>
                          </ul>
                        </div>
                    </div>
                    <p><i>Choose from: Cola, Lemonade, Orangeade, or Sour Cherry</i></p>
                    <br>
                    <div class="container">
                        <div class="left-column">
                          <ul>
                            <li><b>Water</b></li>
                          </ul>
                        </div>
                        <div class="right-column">
                          <ul>
                            <li>£ 1.50</li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
