{% extends 'base.html' %}
    
{% block title %}Fresko | Menu{% endblock %}

{% block content %}
<br><br>

<div class="content" style="margin: 0 auto; max-width: 1000px;">
    <h1 class="section-title">LUNCH</h1>
    <h3 class="menu_subheading">Flavours, textures, and innovation unite in our unforgettable menu.</h3>
    <h4>V = Vegetarian | Ve = Vegan | GF = Gluten-free | GFO = Gluten-free option</h4>
    
    <div class="menu-grid">
        <img src="static/images/gyro.png" alt="Gyro" class="menu-image">
        <div class="menu-item">
            <h2 class="section-title" style="color: white;">GYROS</h2>
            <p>Tender rotisserie-roasted meat or plant option, served in a pita (GFO) with oregano chips, lettuce, tomato, cucumber, red onion, and your choice of tzatziki (V) or tahini sauce (Ve)</p><br>
            <div class="item-options">
                <p>Available options:</p>
                <div class="options-container">
                    <img src="static/images/available_options_graphic.png" alt="Options Graphic" class="options">
                </div>
            </div>        
        </div>
        <img src="static/images/salad_bowl_2.png" alt="Salad Bowl 2" class="menu-image">
        <div class="menu-item">
            <h2 class="section-title" style="color: white;">SALAD BOWLS</h2>
            <p>Choose from a variety of bowls including our fan-favourite Chicken Fresko! All salads come with a choice of tzatziki, tahini sauce, or mint yoghurt dressing.</p>
        </div>
        <img src="static/images/souvlaki_wrap.png" alt="Souvlaki Wrap" class="menu-image">
        <div class="menu-item">
            <h2 class="section-title" style="color: white;">SOUVLAKI</h2>
            <p>Grilled meat, halloumi or falafel, served in a pita (GFO) with oregano chips, lettuce, tomato, cucumber, onion, olives, and your choice of tzatziki (V) or tahini sauce (Ve)</p><br>
            <div class="item-options">
                <p>Available options:</p>
                <div class="options-container">
                    <img src="static/images/available_options_graphic.png" alt="Options Graphic" class="options">
                </div>
            </div>
        </div>        
        <div class="menu-item">
            <h2 class="section-title" style="color: white;">DRINKS</h2>
            <p>Take your pick from flavored soda to water</p>
        </div>
        <div class="menu-item">
            <h2 class="section-title" style="color: white;">EXTRAS</h2>
            <p>Choose from as many as 10 different extras to spice up your meal</p>
        </div>
    </div>
    <a href="/lunch">
        <div class="lunchdinner-button">
            <p>View Menu Prices</p> 
        </div>
    </a>
</div>
<div class="content" style="margin: 0 auto; max-width: 1000px;">
    <h1 class="section-title">DINNER</h1>
    <h3 class="menu_subheading">Stay longer with us and explore our dinner options!</h3>
    <h4>V = Vegetarian | Ve = Vegan | GF = Gluten-free | GFO = Gluten-free option</h4>
    
    <div class="menu-grid">
        <img src="static/images/meze.png" alt="Meze" class="menu-image" style="width: 200px;">
        <div class="menu-item">
            <h2 class="section-title" style="color: white;">MEZE</h2>
            <p>The decision is all yours! Choose from a variety of foods to build the meze of your preference. Mixed green olives, hummus, calamari, prawns saganki, the list goes on...</p><br>
            <div class="item-options">
                <p>Available options:</p>
                <div class="options-container">
                    <img src="static/images/available_options_graphic_2.png" alt="Options Graphic 2" class="options">
                </div>
            </div>        
        </div>
        <img src="static/images/gyro.png" alt="Gyro" class="menu-image">
        <div class="menu-item">
            <h2 class="section-title" style="color: white;">GYROS</h2>
            <p>Tender rotisserie-roasted meat or plant option, served in a pita (GFO) with oregano chips, lettuce, tomato, cucumber, red onion, and your choice of tzatziki (V) or tahini sauce (Ve)</p><br>
            <div class="item-options">
                <p>Available options:</p>
                <div class="options-container">
                    <img src="static/images/available_options_graphic.png" alt="Options Graphic" class="options">
                </div>
            </div>        
        </div>
        <img src="static/images/dip.png" alt="Dip" class="menu-image">
        <div class="menu-item">
            <h2 class="section-title" style="color: white;">DIPS</h2>
            <p>Complement your main course with our handcrafted dips including our mint-infused tzatziki amongst others</p><br>
        </div>
        <img src="static/images/souvlaki_wrap.png" alt="Souvlaki Wrap" class="menu-image">
        <div class="menu-item">
            <h2 class="section-title" style="color: white;">SOUVLAKI</h2>
            <p>Grilled meat, halloumi or falafel, served in a pita (GFO) with oregano chips, lettuce, tomato, cucumber, onion, olives, and your choice of tzatziki (V) or tahini sauce (Ve)</p><br>
            <div class="item-options">
                <p>Available options:</p>
                <div class="options-container">
                    <img src="static/images/available_options_graphic.png" alt="Options Graphic" class="options">
                </div>
            </div>
        </div>  
    </div>
    <a href="/dinner">
        <div class="lunchdinner-button">
            <p>View Menu Prices and Drinks</p> 
        </div>
    </a>
</div>

{% endblock %}