{% extends 'base.html' %}
    
{% block title %}Fresko | Nutrition{% endblock %}

{% block content %}
    <div class="center">
        <img src="static/images/nutrition_salad.png" alt="Salad" width="100px" height="100px" margin-below="10px">
        <div class="content">
            <h1 class="section-title" align="left">We Take<br>Nutrition<br>Seriously</h1>
            <div class="justify">
                <p style="width: 80%;">
                    At Fresko we prioritize both exceptional taste and nutritional value. 
                    Our commitment to sourcing local ingredients ensures the highest quality in every dish we create. <br>
                <br>
                    We believe that great nutrition is the foundation of a satisfying meal, and our team of chefs and nutrition experts worked tirelessly to craft a menu that provides essential nutrients while tantalizing your taste buds. 
                    From fresh meals bursting with goodness to thoughtfully designed options to suit your dietary needs, we invite you to experience the joy of delicious Greek food that nourishes your body and supports your well-being.
                <br>
                </p>
            </div>
            <br>
            <a href="/about-us">
                <div class="menu-button" style="margin-left: 0;">
                    <p>Read More</p> 
                </div>
            </a>
        </div>
    </div>
    <br><br><br>
    <img src="/static/images/olive_branch.png" alt="Olive Branch" style="float: right; margin: -182px 0 0 0; width: 300px;">

{% endblock %}
