<!DOCTYPE html>
<html>
<head>
    <title>Make a Reservation</title>
</head>
<body>
    <h1>Make a Reservation</h1>
    <form method="POST" action="/reservation">
        <label>Name:</label>
        <input type="text" name="name"><br>
        <label>Date:</label>
        <input type="date" name="date"><br>
        <label>Time:</label>
        <input type="time" name="time"><br>
        <label>Party Size:</label>
        <input type="number" name="party_size"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>