{% extends 'base.html' %}
    
{% block title %}Fresko | Reservation{% endblock %}

{% block content %}
<br><br><br><br>
    <div class="page-contents">
        <div class="content">
            <h1 class="section-title">Reservation<br>Not Successful</h1>
            <br>
            <div class="justify">
                <p>
                    Dear Valued Guest,<br><br>
                    We regret to inform you that all our tables are currently fully booked for the requested date and time.<br>We apologize for any inconvenience caused.
                    <br><br>
                    If your plans are flexible, we encourage you to check for alternative dates or consider visiting us as a walk-in guest.<br>For updates on availability and special offers, follow us on social media or subscribe to our mailing list.
                    <br><br>
                    Thank you for considering dining at Fresko. We hope to have the pleasure of serving you in the future.
                    <br><br>
                    Best regards,<br><br>
                    The Fresko Team
                </p>
            </div>
            <br>
            <a href="/reservation_form">
                <div class="backtoreservation-button">
                    <p>Back to Reservation</p> 
                </div>
            </a>
        </div>
    </div>
    <br><br><br>
    <img src="static/images/falafel.png" alt="Falafel" class="aboutus-image" id="falafel-image">
    <img src="static/images/salad_bowl_1.png" alt="Bowl_1" class="aboutus-image" id="bowl1-image">
{% endblock %}