{% extends 'base.html' %}

{% block title %}Fresko | Terms of Use{% endblock %}

{% block content %}
    <div class="center">
        <div class="content">
            <h1 class="section-title">Terms of Use</h1>
            <div class="justify">
                <p>
                    Welcome! These Terms of Use govern your use of our website and services. 
                    By accessing or using our website, you agree to comply with these terms. 
                    If you do not agree with any part of these terms, please refrain from using our website.<br><br>
                </p>
                <ol>
                    <li>
                        <b>Website Content:</b> The content provided on our website is for general informational purposes only. 
                        We strive to ensure that the information is accurate and up to date, but we make no warranties or representations regarding the completeness, accuracy, or reliability of the content.<br><br>
                    </li>
                    <li>
                        <b>Intellectual Property:</b> All intellectual property rights related to the content, design, and functionality of our website belong to Fresko or are used under license. 
                        You may not use, modify, distribute, or reproduce any of our intellectual property without our prior written consent.<br><br>
                    </li>
                    <li>
                        <b>User Conduct:</b> When using our website, you agree to abide by all applicable laws and regulations. 
                        You are solely responsible for any content you submit or post on our website, and it must not violate any laws or infringe upon the rights of others.<br><br>
                    </li>
                    <li>
                        <b>Links to Third-Party Websites:</b> Our website may contain links to third-party websites that are not owned or controlled by Fresko. 
                        We are not responsible for the content or privacy practices of these websites. 
                        Visiting such websites is at your own risk, and we encourage you to review their respective terms and privacy policies.<br><br>
                    </li>
                    <li>
                        <b>Limitation of Liability:</b> To the fullest extent permitted by law, Fresko and its affiliates shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of or related to the use of our website or services.<br><br>
                    </li>
                    <li>
                        <b>Indemnification:</b> You agree to indemnify and hold Fresko and its affiliates harmless from any claims, liabilities, damages, losses, or expenses (including legal fees) arising out of your use of our website or any violation of these Terms of Use.<br><br>
                    </li>
                    <li>
                        <b>Modifications:</b> We reserve the right to modify, suspend, or terminate our website or services at any time without prior notice. 
                        We may also update or revise these Terms of Use from time to time. 
                        Your continued use of our website after any changes indicates your acceptance of the modified terms.<br><br>
                    </li>
                    <li>
                        <b>Governing Law:</b> These Terms of Use shall be governed by and construed in accordance with the laws of the United Kingdom. 
                        Any disputes arising out of or relating to these terms shall be subject to the exclusive jurisdiction of the courts in the United Kingdom.<br><br>
                    </li>
                </ol>
                <p>If you have any questions or concerns regarding these Terms of Use, please contact us at <b>customerservice@fresko.com.</b></p>
                <br>
            </div>
            <p>Last updated: {{ month }} {{ year }}</p>
        </div>
    </div>

    <img src="/static/images/half_bowl.png" alt="Half Bowl" style="float: left; margin-left: -75px; margin-top: -900px; width: 350px;">
    <img src="/static/images/basil_leaves.png" alt="Basil Leaves" style="float: right; margin-right: 100px; margin-top: -1175px; width: 300px;">

{% endblock %}