{% extends 'base.html' %}
    
{% block title %}Fresko | Testimonials{% endblock %}

{% block content %}
<br><br><br><br>
    <div class="page-contents">
        <div class="content">
            <h1 class="section-title">Feedback<br>Not Saved</h1>
            <br>
            <div class="content">
                <h1 class="section-title">Error</h1>
                <p>Dear Valued Guest,<br><br>
                    We apologize, but there was an issue saving your feedback. Please try again later.</p>
            </div>
            <br>
            <a href="/testimonials">
                <div class="backtoreservation-button">
                    <p>Back to Testimonials</p> 
                </div>
            </a>
        </div>
    </div>
    <br><br><br>
    <img src="static/images/falafel.png" alt="Falafel" class="aboutus-image" id="falafel-image">
    <img src="static/images/salad_bowl_1.png" alt="Bowl_1" class="aboutus-image" id="bowl1-image">
{% endblock %}